* {
    box-sizing: border-box;
}

.formulario {
    flex-wrap: wrap;
    width: 75%;
    margin: 5rem auto;
    display: flex; 
    gap: 5rem;
    flex-direction: column; 
    align-items: center;
}

.form-field {
    display: flex;
    gap: 3rem;
}

.inputs {
    width: 50%;
    
}

.output {
    margin-left: 3rem;
    flex: 1;
}

.form-field label, h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

input {
    height: 35px;
    width: 100%;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

input:focus {
    border: 1px solid black;
}

.services {
    display: flex;
    justify-content: space-between;
}

.first-division {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0.5rem 0;
    width: 100%;
}

button {
    background: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 2px;
    padding: 5px 10px;
}

.first-division button {
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    color: black;
    border: none;
    background-color: rgb(224, 204, 202);;
    color: #81171B;
}

.second-division button {
    background-color: rgb(224, 204, 202);;
    color: #81171B;
    border: none;
   
}

.send-division {
    width: 333px;
    height: 65px;
}

.send-division input:hover {
    cursor: pointer;
}

.send-division input{
    background: rgb(224, 204, 202);;
    color: #81171B;
    font-size: 18px;
    border: none;
    font-style: bold;
}
