.textoSobre{
    text-align: justify;
    background-color: rgb(224, 204, 202);;
    width: 60%;
    align-items: center;
    margin: auto;
    margin-top: 4rem;
    padding: 20px;
    border-radius: 10px;
    
}
.classeSobre{
    padding-left: 3rem;
    padding-right: 3rem;
    
}
