.tituloReceita {
  font-size: 30px;
}

.receitaParte {
  margin-top: 15px;
  font-size: 25px;
  border-bottom: 2px solid black;
  max-width: 100%;
}

.ajeitaParedinha{
  padding-right: 10rem;
  padding-left: 3rem;
}

.imageMano{
  width: 330px;
  height: 320px;
}